@import '/styles/mixins';

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
	visibility: visible;
	opacity: 1;
	-webkit-transition: all var(--animation-transition) ease;
	transition: all var(--animation-transition) ease;
}

.root {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5001;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(-50%, -50%);
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 5002;
	border: none;
	cursor: pointer;
}
