@import '/styles/mixins';

.container {
	display: inline-flex;
	align-items: center;
}

.dot {
	width: 12px;
	height: 12px;
	margin: 0 2px;
	border-radius: var(--line-radius);
	background: var(--color-gray);
	animation: loader 1.5s infinite both;
}

.dot:nth-of-type(2) {
	animation-delay: 0.25s;
}

.dot:nth-of-type(3) {
	animation-delay: 0.5s;
}

@keyframes loader {
	0% {
		opacity: 0.3;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0.3;
	}
}
