// breakpoint
// inspired by tailwind.css. ref: https://tailwindcss.com/docs/breakpoints
// ex) @include max-screen($breakpoint-sm) {} or @include min-screen($breakpoint-sm) {}

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

@mixin max-screen($break-point) {
	@media screen and (max-width: $break-point) {
		@content;
	}
}

// prefix-set
// ex) @include property-set-prefix(transition, .2s);

$prefix-list: '', '-moz-', '-webkit-';

@mixin property-set-prefix($name, $value) {
	@each $prefix in $prefix-list {
		#{$prefix}#{$name}: $value;
	}
}
