@import './aniamtions.scss';
@import './mixins';
@import './variables';

* {
	line-height: 1.5;
	letter-spacing: 0.05em;
}

body {
	width: 100%;
	font-size: var(--font-size-m);
	font-family: '"Helvetica Neue", "Helvetica, Arial", "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Roboto", "メイリオ"," Meiryo", "ＭＳ Ｐゴシック", sans-serif';
	color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-bold);
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: var(--color-primary);
	text-decoration: none;

	&:hover {
		transition: var(--animation-transition);
	}
}
