:root {
	/* base color */
	--color-primary: #3c3a3a;
	--color-secondary: #ffffff;
	--color-gray: #8c8c8c;
	--color-gray-lighten: #8c8c8c;
	--color-gray-derken: #8c8c8c;
	--color-error: #ff521b;
	--color-error-lighten: #8c8c8c;
	--color-error-darken: #8c8c8c;
	--color-success: #3083dc;
	--color-success-lighten: #aed6ea;
	--color-success-darken: #aed6ea;
	--color-main: #a18cd1;
	--color-main-lighten: #fbc2eb;
	--color-main-darken: #fbc2eb;
	--color-transparent: transparent;

	/* font size */
	--font-size-xxs: 10px;
	--font-size-xs: 12px;
	--font-size-s: 14px;
	--font-size-m: 16px;
	--font-size-l: 18px;
	--font-size-xl: 20px;
	--font-size-xxl: 24px;
	--font-size-xxxl: 32px;

	/* font bold */
	--font-weight-normal: 400;
	--font-weight-bold: 700;

	/* border */
	--line-width-normal: 1px;
	--line-width-bold: 2px;
	--line-style: solid;
	--line-radius: 8px;
	--border-normal: var(--line-width-normal) var(--line-style) var(--color-gray);
	--border-normal-main: var(--line-width-normal) var(--line-style) var(--color-main);
	--border-bold: var(--line-width-bold) var(--line-style) var(--color-gray);

	/* opacity */
	--hover-feedback-opacity: 0.7;

	/* animation */
	--animation-transition: 0.3s;
}
